@model System.DateTime?

@{
    string initialDate;
}
@if (Model != null)
{
    initialDate = Model.GetValueOrDefault().ToString("dd-MM-yyyy HH:mm");
}
else
{
    initialDate = "";
}

<div class="input-group date" id="datetimepicker-@ViewData["id"].ToString()" data-date="@initialDate" data-date-format="dd-mm-yyyy hh:ii">
    <input name="@ViewData.ModelMetadata.PropertyName" class="form-control span2" size="16" type="text" value="@initialDate" placeholder="dd-MM-yyyy HH:mm">
    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
</div>