@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Witaj w Moccacito</h1>
                <h2>Systemie wspomagającym pracę małych i średnich agencji promocyjnych</h2>
            </hgroup>
            <p class="text-primary">
                Wykorzystaj menu główne do nawigacji pomiędzy poszczególnymi funkcjami.
            </p>
            <ul>
                <li><strong>Terminy</strong> &ndash; zarządzanie terminami pracy pracowników okresowych i zatrudnianie ich</li>
                <li><strong>Zatrudnieni pracownicy</strong> &ndash; lista zatrudnionych pracowników okresowych</li>
                <li><strong>Wynagrodzenia</strong> &ndash; lista pracowników okresowych, którym należy wypłacić wynagrodzenie za pracę</li>
                <li><strong>Bazy danych</strong>
                    <ul>
                        <li><strong>Klienci i produkty</strong> &ndash; zarządzanie klientami i przypisanymi do nich produktami</li>
                        <li><strong>Pracownicy okresowi</strong> &ndash; zarządzanie pracownikami okresowymi</li>
                        <li><strong>Lokalizacje</strong> &ndash; zarządzanie lokalizacjami akcji promocyjnych</li>
                        <li><strong>Project Managerowie</strong> &ndash; zarządzanie Project Managerami</li>
                        <li><strong>Projekty</strong> &ndash; zarządzanie projektami</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
}
